body {
    margin: 0;
    font-family: "Lato", sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Pacifico&display=swap');
    font-family: 'Fredoka', sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    /* width: 200px; */
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
    width: 300px;
    /* float: left; */
    text-align: center;
    border-right: 1px solid rgb(224, 221, 221);
    /* display: inline; */
  }
  div.content {
    margin-left: 300px;
    padding: 1px 16px;
    height: 1000px;
  } 
 
  .sidebar a:hover:not(.active) {
    background-color: rgb(226, 222, 222);
    color: white;
    /* width: 100px; */
    border-radius: 30px;
    width: 140px;
    padding-top: 30px;
    /* display: inline; */
    /* height: 12px; */
    /* display: inline; */
    /* display: block; */
  }

  .sidebar a {
      text-align: left;
      /* padding-right: -100px; */
      margin-left: 70px;
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
  }
   
  .sidebar a.active {
    /* background-color: #04AA6D; */
    color: rgb(56, 54, 54);

    font-weight: bold;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  #tweet-logo:hover{
    background-color: #e4f6fd;
    color: white;
    /* width: 100px; */
    border-radius: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  #btnTweet{
      width: 220px;
      height: 60px;
      background-color: #00acee;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      color: white;
      font-size: 18px;
      margin-left: 40px;

  }
  .footer-account-btn img{
    border-radius: 50%;
  }
  .footer-account-btn{
    top: 520px;
    left: 40px;
    width: 250px;
    position: fixed;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    border: none;
    background-color: transparent;
  }
  .footer-account-btn:hover{
    border: none;
    background-color: #ebebeb;
    border-radius: 40px;
  }
 /* stating header of post area */

 .navbar {
  overflow: hidden;
  background-color: rgb(240, 240, 240);
  position: fixed;
  top: 0;
  width: 100%;

  /* filter: blur(0.5rem); */
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 10px;
  padding-left: 320px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}


.sidebar2 {
  margin: 0;
  margin-left: 950px;
  /* width: 200px; */
  background-color: #e45c5c;
  position: fixed;
  height: 100%;
  overflow: auto;
  width: 500px;
  /* float: right; */
  text-align: center;
  border-right: 1px solid rgb(224, 221, 221);
  /* display: inline; */
}
div.content {
  margin-left: 300px;
  padding: 1px 16px;
  height: 1000px;
  margin-right: 400px;
} 

.sidebar2 a:hover:not(.active) {
  background-color: rgb(226, 222, 222);
  color: white;
  /* width: 100px; */
  border-radius: 30px;
  width: 140px;
  padding-top: 30px;
  /* display: inline; */
  /* height: 12px; */
  /* display: inline; */
  /* display: block; */
}

.sidebar2 a {
    text-align: left;
    /* padding-right: -100px; */
    margin-left: 70px;
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}
 
.sidebar2 a.active {
  /* background-color: #04AA6D; */
  color: rgb(56, 54, 54);

  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .sidebar2 {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar2 a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar2 a {
    text-align: center;
    float: none;
  }
}